/*----------Algemeen----------*/

:root {
    --backgroundcolor: #e8e9e5;
    --hcolor: #011af7;
    --textcolor: #212427;
    --hovercolor: #ff033b;
    --buttoncolor: #011af7;
    --alttextcolor: #e0e3d7;
    --headerfont: Arial, Helvetica, sans-serif;
    --pfont: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--backgroundcolor);
}

img {
    max-width: 100%;
}

h1 {
    font-family: var(--headerfont);
    font-style: normal;
    font-weight: 400;
    font-size: 60pt;
    color: var(--hcolor);
}

h2 {
    padding: 0.5em 0.5em 0em 0.5em;
    
    font-family: var(--headerfont);
    font-weight: 400;
    font-size: 25pt;
    color: var(--hcolor);
    text-transform: uppercase;
}

p, a {
    padding: 1em 1em 0em 1em;

    font-family: var(--pfont);
    font-style: normal;
    font-weight: 100;
    font-size: 16pt;
    line-height: 24pt;
    color: var(--textcolor);
    text-decoration: none;
}

/*----------Nav----------*/
.navbar {
    z-index: 1;
    position: -webkit-sticky;
    top: 0;

    background-color: var(--backgroundcolor);
    border-bottom: 1px solid black;
}

.navigation {
    display: flex;
    flex-flow: row wrap;

    justify-content: flex-end;
    list-style: none;
    align-items: center;
    padding: 0.7em 0em 0.7em 0em;
}

.navigation :first-of-type {
    flex-grow: 1;
}

/*----------Logo----------*/

.logo {
    max-width: 20em;
    padding: 0em 0em 0em 1em;
}

.logo:hover {                   /* <------ aanpassen */
    stroke-dashoffset: 0;
}

.logoline {
    fill:none;
    stroke:#0309FE;
    stroke-width:7;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
    stroke-dasharray: 90; 
    stroke-dashoffset: 900;
    animation: move 40s linear infinite alternate-reverse;
}

@keyframes move {
    100% {
        stroke-dashoffset: 10;
        animation: ease-in-out;
    }
}

@media only screen and (max-width: 1100px) {
    .logo {
        padding: 0em 3em 0em 1em;
    }
}

/*----------Header----------*/

.headerArea {
    display: grid;
    grid-template-columns: 2fr 4fr 4fr 2fr;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
}

.title {
    grid-column: 2 / span 2;
    grid-row: 1;
    z-index: 0;
    padding: 0.5em 35em 0em 0em;
}

.Layer_1 {
    fill: blue;
}

.titleimg {
    display: grid;
    grid-column: 3 / span 2;
    grid-row: 1;
    z-index: -1;
}

.headerImg {
    transform: rotate(-10deg);
}


@media only screen and (max-width: 900px) {
    .headerImg {
        height: 300px;
        width: auto;
        transform: rotate(-10deg);
    }
    .headerArea {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .title {
        grid-column: 1 / span 2;
        padding: 0em 15em 0em 0em;
    }
    .titleimg {
        grid-column: 2;
    }
}

@media only screen and (max-width: 600px) {
    .headerImg {
        height: 400px;
        width: auto;
        transform: rotate(180deg);
    }
    .headerArea {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .title {
        grid-column: 1 / span 2;
        padding: 1em 15em 1em 1em;
    }
    .titleimg {
        grid-column: 2;
    }
}


/*----------Sections----------*/

.contentArea {
    display: grid;
    grid-template-columns: 3fr 8fr 2fr;
    grid-auto-flow: column;
    grid-template-rows: 600px;
    border-top: 1px solid black;
    padding: 0em 0em 0em 0em;
}

.itemA {
    min-width: 1fr;
    border-right: 1px solid black;
}

.itemB {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.itemC {
    border-right: 1px solid black;
}

@media only screen and (max-width: 900px) {
    .contentArea {
        grid-template-rows: 2;
        grid-template-rows: 310px;
        padding: 1em 0em 0em 0em;
        max-height: fit-content;
    }
    .contentArea h2 {
        text-align: right;
    }
    .contentArea p {
        text-align: end;
        padding-bottom: 2em;
    }
    .itemA {
        grid-column: 1 / span 3;
        grid-row: 1;
    }
    .itemB {
        grid-column: 1 / span 3;
        grid-row: 2;
    }
    .itemC {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    iframe  {
        max-height: 300px;
        max-width: 574px;
        padding: 0;
    }
    .contentArea {
        grid-template-rows: repeat(2, 300px);
        padding: 0;
    }
    .contentArea h2 {
        text-align: right;
    }
    .contentArea p {
        text-align: end;
        padding: 1em 1em 1em 1em;
    }
    .itemA {
        grid-row: 1;
    }
    .itemB {
        grid-row: 2;
    }
    .itemC {
        display: none;
    }

}

/*----------Posters----------*/

.posters {
    display: grid;
    grid-template-columns: 3fr 4fr 4fr 2fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    max-height: 754px;
    border-top: 1px solid black;
}

.itemA2 {
    min-width: 1fr;
    grid-row: 1 / span 2;
    max-height: 754px;
    border-right: 1px solid black;
}

.itemB2 {
    border-right: 1px solid black;
    max-height: 862px;
}

.itemC2 {
    border-right: 1px solid black;
    max-height: 862px;
}

.itemD2 {
    max-height: 754px;
}

.posterimg {
    width: 591px;
}

@media only screen and (max-width: 600px) {
    img {
        max-height: 418px;
        padding: 0;
    }
    .posters {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        padding: 0em 0em 0em 0em;
    }
    .itemA2 {
        grid-column: 1 / span 3;
        grid-row: 1 / span 2;
        min-height: 212px;
    }
    .itemB2 {
        grid-column: 1 / span 2;
        grid-row: 2 / span 2;
        max-height: 418px;
        border-top: 1px solid black;
    }
    .itemC2 {
        grid-column: 3 / span 2;
        grid-row: 2 / span 2;
        max-height: 418px;
        border-top: 1px solid black;
    }
    .itemD2 {
        display: none;
    }
}

/*----------PinqPonq----------*/

.pinqponq {
    display: grid;
    grid-template-columns: 3fr 4fr 4fr 2fr;
    grid-template-rows: minmax(335px, auto);
    grid-auto-flow: row;
    border-top: 1px solid black;
}

.pinqponq img {
min-width: 335px;
}

.itemB3 {
    grid-column: 2;
    grid-row: 1;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.itemC3 {
    grid-column: 3;
    grid-row: 1;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.itemD3 {
    grid-column: 2;
    grid-row: 2;
    border-right: 1px solid black;
}

@media only screen and (max-width: 600px) {   /* <--- hier*/
    .pinqponq {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(4 1fr);
        padding: 0em 0em 0em 0em;
    }
    .itemA2 {
        grid-column: 1 / span 3;
        grid-row: 1;
        max-height: 200px;
    }
    .itemB3 {
        grid-column: 1;
        grid-row: 2;
        max-width: 287px;
    }
    .itemC3 {
        grid-column: 2;
        grid-row: 2;
        max-width: 287px;
    }
    .itemD3 {
        grid-column: 1 / span 2;
        grid-row: 3;
        max-width: 574px;
    }
}

/*----------About----------*/

.about {
    display: grid;
    grid-template-columns: 1fr 7fr 4fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    border-top: 1px solid black;
}

.about img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.itemA4 {
    grid-column: 1;
    border-right: 1px solid black;
}

.itemB4 {
    grid-column: 2;
    border-right: 1px solid black;
}

.itemC4 {
    grid-column: 3;
}